<!-- Begin Panel -->


	<div data-role="panel" data-position="right" data-iconpos="left" data-position-fixed="true" data-theme="a" id="nav-panel">
		<ul data-role="listview" data-theme="a"  class="nav-search">
            <!-- <li data-icon="false" ><a href="#" data-icon="delete" data-iconpos="notext"data-rel="close">Close menu</a></li> 
            <li data-icon="false" data-iconpos="left"><%= link_to 'Home', dogs_path %>  </li> -->
            <li data-icon="false" data-iconpos="left"><a href="../">Home</a></li>
            <li data-icon="false" ><a href="#" class="panel-by-name">By Name</a></li>
            <li data-icon="false" ><a href="#" class="panel-by-location">By Location</a></li>
            <li data-icon="false" ><a href="#" class="panel-by-priority">By Priority</a></li>
            <li data-icon="false" ><a href="#" class="panel-need-photos">Need Photos</a></li>
            <li data-icon="false" ><a href="#" class="panel-need-videos">Need Videos</a></li>
            <li data-icon="false" ><a href="#" class="panel-need-bios">Need Bios</a></li>
            <li data-icon="false" ><a href="#about-popup" data-rel="popup" data-position-to="window"  data-transition="pop">About</a></li>
        </ul>
    </div>
<!-- End Panel -->



<div id="about-popup" data-role="popup" data-overlay-theme="a" data-theme="c" class="ui-content">
   <a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
  <p>PupPal is still in prototype.<br />Follow developments on <a href="https://github.com/colinmanuel" data-theme="a" >Github</a></p>
</div>
