<!-- Begin Header -->
<div data-role="header" data-position="fixed">
  <h1>Find Dogs By Location</h1>
    <%= link_to 'Back', dogs_path, { "data-icon"  => "back", "data-iconpos" => "notext" } %> 

<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
</div>
<!-- End Header -->

<%= render "mobilepanel" %>



<div data-role="content">
<h1 style="text-align:center;">Coming Soon</h1>
</div>


<%= render "mobilefooter" %>
